@model IEnumerable<Common.Role>
@{
    ViewBag.Title = "View Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Roles</h2>

<table>
    <tr>
        <th>Role ID</th>
        <th>Role Name</th>
    </tr>

    @{
        int inc = 1;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <input type="button" value="Edit Role" onclick="location.href='@Url.Action("EditRole", "ViewRoles", new { roleID = item.RoleID })'" />
            </td>
            <td>
                <input type="button" value="Delete Role" onclick="location.href='@Url.Action("DeleteRole", "ViewRoles", new { roleID = item.RoleID })'" />
            </td>
        </tr>
    }
</table>

